<div *ngIf="book">
  <button (click)="goBack()" mat-raised-button><i class="material-icons">chevron_left</i> Back</button>
  <h2>{{ book.title | uppercase }} Details</h2>
  <img *ngIf="coverUrl" class="cover-image" src="{{ coverUrl }}"/>
  <mat-card *ngIf="!coverUrl && coverLoading" class="image-loading-spinner" style="display: flex; justify-content: center; align-items: center">
    <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
  </mat-card>
  <div>
    <mat-card *ngIf="bookLoading" class="image-loading-spinner" style="display: flex; justify-content: center; align-items: center">
      <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
    </mat-card>
    <mat-form-field>
      <input matInput placeholder="Title" value="{{ book.title }}" [(ngModel)]="book.title"/>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Author First" value="{{ book.author_first }}" [(ngModel)]="book.author_first"/>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Author Last" value="{{ book.author_last }}" [(ngModel)]="book.author_last"/>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Format" value="{{ book.format }}" [(ngModel)]="book.format">
          <mat-option value="Paperback">Paperback</mat-option>
          <mat-option value="Mass Market Paperback">Mass Market Paperback</mat-option>
          <mat-option value="Hardcover">Hardcover</mat-option>
          <mat-option value="eBook">eBook</mat-option>
          <mat-option value="Other">Other</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Series" value="{{ book.series }}" [(ngModel)]="book.series"/>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Series Order Number" value="{{ book.series_num }}" [(ngModel)]="book.series_num"/>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Owner" value="{{ book.owner }}" [(ngModel)]="book.owner">
        <mat-option value="Matt">Matt</mat-option>
        <mat-option value="Macie">Macie</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="ISBN (13)" value="{{ book.isbn_13 }}" [(ngModel)]="book.isbn_13"/>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="ISBN (10)" value="{{ book.isbn_10 }}" [(ngModel)]="book.isbn_10"/>
    </mat-form-field>
  </div>
  <button (click)="goBack()" mat-raised-button><i class="material-icons">chevron_left</i> Back</button>
  <button (click)="saveChanges(book.id)" mat-raised-button color="primary" [disabled]="saveBtnText != 'Save Changes'">{{ saveBtnText }} <i *ngIf="saveBtnText == 'Save Changes'" class="material-icons">check_circle</i></button>
  <button (click)="removeBook(book.id)" mat-raised-button color="warn" [disabled]="deleteBtnText != 'Delete Book'">{{ deleteBtnText }} <i class="material-icons">cancel</i></button>
</div>
